<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.idmon.SnRicardoApp"
        version     = "1.0.0"
        versionCode = "1" >

        <preference name="phonegap-version" value="3.7.0" />
        <name>Cerrada San Ricardo</name>
        <author href="http://tusitio.com" email="tu@tuemail.com">

        </author> 
        
        <description>

        </description>

        <icon src="images/icon128.png" />
        
      

       <!-- <access origin="*" />-->

        <!-- Plugins -->

        <!--<gap:plugin name="org.apache.cordova.inappbrowser" />-->


        
    </widget>
